body {
    padding: 0;
    margin: 0;
}

.container-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}

.block {
    /* border: 0.5px solid black; */
}

.block--large {
    height: 820px;
    flex: 1 1 500px;
}

.block--large--double {
    height: 615px;
    flex: 2 1 622px;
}

.block--large--single {
    flex: 1 1 300px;
    height: 615px;
}

.block--medium {
    height: 420px;
    flex: 1 1 500px;
}

.block--medium-full {
    height: 480px;
    flex: 1 1 1000px;
}

.block--medium--footer {
    height: 375px;
    flex: 1 1 500px;
}

.block--small {
    flex: 1 1 300px;
    height: 340px;
}

.block--small--double {
    flex: 2 1 600px;
}

@media(min-width:1100px) and (max-width:1200px) {
    .block_media {
        height: 340px;
    }
}