    .ico-wrap {
        position: absolute;
        margin: 10% 20% 10% 20%;
    }
    
    .icoheadtxt {
        margin: 0;
        padding: 0;
        margin: 0 auto;
    }
    
    .ico-wrap--full {
        margin: 8% 20% 10% 20%;
        z-index: 100;
    }
    
    .icoheadtxt__icon {
        text-align: center;
        /* padding-top: 50px; */
        padding-bottom: 50px;
        color: white;
    }
    
    .icoheadtxt__header {
        text-align: center;
        font-size: 26px;
        padding-bottom: 35px;
        color: white;
        font-weight: 300;
    }
    
    .icoheadtxt__header--big_text {
        font-size: 36px;
    }
    
    .icoheadtxt__text {
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 16px;
    }
    
    .icoheadtxt__header--white {
        color: white;
    }
    
    .icoheadtxt__text--white {
        color: white;
    }
    
    .icoheadtxt__icon--black {
        color: black;
    }
    
    .icoheadtxt__header--black {
        color: #2d343e;
    }
    
    .icoheadtxt__text--grey {
        color: #9096ac;
    }
    
    .fa-table {
        color: white;
    }
    
    @media(max-width:460px) {
        .icoheadtxt__header {
            font-size: 18px;
        }
        .icoheadtxt--full {
            margin: 4% 20% 10% 20%;
        }
    }
    
    @media(max-width:560px) {
        .icoheadtxt__header--big_text {
            font-size: 22px;
        }
    }
    
    @media(min-width:900px) and (max-width:1200px) {
        .ico-wrap--media {
            margin: 5% 30% 5% 30%;
        }
    }
    
    @media(min-width:2200px) {
        .ico-wrap--full--media {
            margin: 5% 35% 5% 35%;
        }
    }