.mdb-input {
    display: inline;
    /* position: fixed; */
}

.mdb-input__form {
    padding: 0;
    display: inline;
}

.mdb-input__field {
    /* width: 250px; */
    /* height: 30px; */
    background-color: #314052;
    color: white;
    border: 0.5px solid black;
    outline: none;
    padding-left: 5px;
    margin: 0;
}

.mdb-input__field::-webkit-input-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.mdb-input__field::-moz-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.mdb-input__field:-moz-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.mdb-input__field:-ms-input-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.fa-search {
    position: absolute;
    font-size: 14px;
    color: black;
    margin-top: 8px;
    margin-left: 8px;
}