body {
    font-family: 'Kalam', cursive;
    margin: 0;
    padding: 0;
}

.container-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}