.mdb_libraryView_container {
    background-color: #262830;
    min-height: 100%;
    flex: 1 1 100px;
}

.mdb-dashboard__library {
    /* overflow: auto; */
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 570px;
    /* width: 90%; */
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 20px;
}

.mdb-header {
    /* position: absolute; */
    margin-left: 40px;
    margin-top: 10px;
}