.mdb-nav {
    font-family: 'Kalam', cursive;
    font-size: 18px;
    color: #047dbb;
    font-weight: bold;
    display: inline-block;
    margin-right: 40px;
    float: right;
}

.mdb-nav-link {
    margin-right: 20px;
    margin-left: 20px;
    display: inline;
}

.mdb-nav-link:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}

.mdb__item--hidden {
    display: none;
}

a:visited {
    color: #047dbb;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.mdb-nav__dropdown {
    /* height: 450px; */
}