.content {
    font-family: 'Mada', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    font-weight: 300;
    position: absolute;
}

.content--big {
    top: 245px;
    left: 10%;
    right: 5%;
}

.content--medium {
    top: 45px;
    left: 5%;
    right: 5%;
}

.content--medium_lft {
    top: 45px;
    left: 10%;
    margin: 0;
    right: 5%;
}

.content__header {
    font-size: 36px;
    padding-bottom: 20px;
    margin: 0;
}

.content__header--dark {
    color: #2c302f;
}

.content__subheader {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.content__subheader--grey {
    font-size: 14px;
    color: #aeb2bb;
    font-weight: 500;
    padding-bottom: 30px;
}

.content__subheader--yellow {
    color: #e4ae94;
    padding-bottom: 40px;
}

.stimulus_word {
    font-weight: 500;
}

.content__text {
    line-height: 30px;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.content__text--grey {
    color: #97a3b1;
    padding-bottom: 10px;
}

.content__button {
    border-radius: 30px;
    width: 170px;
    height: 45px;
    background-color: #f0e2d7;
    border: 3px solid #252b29;
    color: #2a2e1f;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
}

@media(max-width:460px) {
    .content__header {
        font-size: 20px;
    }
    .content--medium_lft {
        top: 20px;
    }
    .content__button {
        width: 100px;
        height: 30px;
    }
    .content__text {
        padding-bottom: 10px;
        line-height: 20px;
    }
    .content__subheader {
        font-size: 16px;
        padding-bottom: 10px;
    }
    .content--big {
        top: 240px;
    }
}