.mdb-dashboard {
    /* background-color: #262126;
    height: 100%;
    position: static; */
}

.mdb-container-dash {
    background-color: #262126;
    min-height: 100%;
    position: static;
    flex: 3 1 600px;
    top: 10px;
}

.mdb-dashboard_content {
    /* height: 100%; */
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

.mdb-dashboard__movies {
    /* top: 10%; */
    position: relative;
    margin-left: 60px;
    margin-right: 20px;
}

.mdb-dashboard__search {
    display: inline;
}

.mdb-dashboard__nav {
    display: inline;
}

.mdb-dashboard__films {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    /* height: 450px; */
    color: #777272;
    width: 100%;
}

.mdb-dashboard__films--hide {
    display: none;
}

.container-flex {
    background-color: #363947;
}

.movie container {
    min-height: 100%;
    background-color: #2344d6;
}