.mdb-movie__item {
    /* width: 100px; */
    height: 275px;
    /* background-color: white; */
    border: 1px solid black;
    margin: 5px;
}

.mdb-movies {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 20px;
    top: 5%;
}

.mdb-movies__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}

.mdb-movies__movie {
    height: 275px;
    width: 185px;
    /* flex: 1 1 185px; */
    margin: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
}

.mdb-dashboard__films {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}


/* .mdb-movies__container:hover {
    opacity: 0.5;
} */

.mdb-movies_hover:hover {
    height: 100%;
    width: 100%;
    opacity: 1;
    /* display: block;
    position: absolute; */
}

.fa-floppy-o {
    float: right;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.fa-info {
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
    position: relative;
}

.mdb-movies_hover {
    /* display: none; */
    height: 15%;
    width: 100%;
    opacity: 0;
}

.mdb-movies_icons {
    height: 15%;
    width: 100%;
    color: white;
    /* opacity: 0.2; */
    background-color: rgba(102, 195, 238, 0.5);
}