.mdb-movie__item {
    /* width: 100px; */
    height: 275px;
    /* background-color: white; */
    border: 1px solid black;
    margin: 5px;
}

.mdb-movies {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 20px;
    top: 5%;
}

.mdb-movies__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}

.mdb-movies__movie {
    height: 275px;
    width: 185px;
    /* flex: 1 1 185px; */
    margin: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
}

.mdb-dashboard__films {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}