.mdb-movie__item {
    height: 275px;
    border: 1px solid black;
    margin: 5px;
}

.mdb-movies__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}

.mdb-movies__movie {
    height: 275px;
    width: 185px;
    margin: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
}

.mdb-movies_title {
    height: 85%;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.mdb-movies_title:hover {
    opacity: 1;
}

.mdb-movies_hover:hover {
    opacity: 1;
}

.mdb-movies_hover {
    /* display: none; */
    height: 15%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    background-color: rgba(80, 154, 186, 0.5);
    color: white;
}

.fa-trash-o {
    float: right;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.fa-floppy-o {
    float: right;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.fa-floppy-o__hide {
    display: none;
}

.fa-info {
    margin-left: 10px;
    margin-top: 10px;
    display: inline;
}

.fa-info:hover {
    color: red;
}

.fa-floppy-o:hover {
    color: red;
}

.fa-trash-o:hover {
    color: red;
}