.mdb-card-container {
    min-height: 620px;
    position: absolute;
    display: inline-block;
    width: 95%;
    min-height: 100%;
    background-color: #262830;
    color: gray;
}

.mdb-card-header {
    margin-left: 40px;
    margin-top: 10px;
}

.mdb-card {
    /* border: 1px solid rgb(255, 255, 255); */
    min-height: 620px;
    /* position: absolute; */
    display: inline-block;
    width: 95%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}

.mdb-card__image {
    margin-left: 30px;
    margin-top: 30px;
    display: inline;
    height: 300px;
    /* width: 150px; */
    flex: 1 1 150px;
}

.card__img {}

.review {
    margin: 20px 20px 0 20px;
    display: inline;
    flex: 6 1 600px;
}

.mdb-card__title {
    /* display: inline-block; */
    font-size: 28px;
    margin-bottom: 20px;
}

.mdb-card__overview {
    /* display: inline-block; */
    overflow-y: auto;
    height: 250px;
}

.review_vote {
    /* display: inline; */
    margin: 10px 30px 10px 30px;
}

.mdb-card__recomend {
    font-size: 22px;
    margin-left: 30px;
}

.mdb-card__recomend_array {
    overflow-x: scroll;
    height: 140px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    align-content: stretch;
    justify-content: flex-start;
}

.mdb-card__image-small {
    width: 70px;
    height: 100px;
    margin: 0 10px 0 10px;
}

.mdb-card__recomend_array--hide {
    display: none;
}

.mdb-card__recomend--hide {
    display: none;
}