.mdb-search {
    display: inline;
}

.mdb-search__form {
    padding: 0;
    display: inline;
}

.mdb-search__field {
    width: 250px;
    height: 30px;
    background-color: #314052;
    color: white;
    border: 0.5px solid black;
    outline: none;
    padding-left: 35px;
    margin: 0;
}

.mdb-search__field::-webkit-input-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.mdb-search__field::-moz-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.mdb-search__field:-moz-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.mdb-search__field:-ms-input-placeholder {
    color: #969799;
    font-size: 14px;
    padding-left: 5px;
    font-family: 'Kalam', cursive;
}

.fa-search {
    position: absolute;
    font-size: 14px;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}

.mdb-search__ico {
    width: 30px;
    height: 32px;
    background-color: white;
    position: absolute;
    border: 0.5px solid black;
    margin-right: 0;
}