.mdb-sidebar {
    background-color: #363947;
    /* position: relative; */
    display: inline-block;
    /* width: 250px; */
    /* min-height: 100%; */
    /* z-index: 500; */
    /* width: 100%; */
    min-height: 100vh;
    /* position: absolute; */
    /* overflow: auto; */
}

.mdb-sidebar__icons {
    display: inline-block;
    background-color: #363947;
    /* position: relative; */
    height: 100vh;
}

.fa {}

.mdb-container_side {
    /* flex: 1 1 150px; */
    /* height: 100vh; */
    /* position: relative; */
    /* width: 240px; */
}

.fa-bars,
.fa-film,
.fa-television,
.fa-bar-chart,
.fa-question-circle-o {
    color: white;
    margin: 20px 20px 20px 20px;
}

.fa-plus-square-o {
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}

.mdb-text {
    color: white;
    font-size: 20px;
    margin: 0px 20px 23px 20px;
}

.mdb-text--big {
    font-size: 25px;
    color: grey;
}

.mdb-size {
    display: inline-block;
}

.mdb-sidebar__support {
    margin-left: 5px;
}

.mdb-logo {}

.mdb-hide {
    display: none;
    /* height: 100vh; */
}

.mdb-show {
    display: inline-block;
    margin: 0;
    background-color: #363947;
    /* position: absolute; */
    height: 100vh;
}

.mdb-text:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}

.fa-bars:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}

.fa-film:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}

.fa-television:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}

.fa-bar-chart:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}

.fa-question-circle-o:hover {
    color: rgba(255, 153, 0, 0.548);
    cursor: pointer;
}


/* .mdb-sidebar__btn {
    opacity: 1;
} */

.mdb-logo-container {
    margin: 0px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}