.mdb-sidebar {
    background-color: #363947;
    /* position: fixed; */
    display: inline;
    /* width: 250px; */
    /* max-height: 100%; */
}

.mdb-sidebar__icons {
    display: inline-block;
}

.fa {}

.mdb-container_side {
    /* flex: 1 1 150px; */
    min-height: 100%;
    /* position: relative; */
    /* width: 240px; */
}

.fa-bars,
.fa-film,
.fa-television,
.fa-bar-chart,
.fa-question-circle-o {
    color: white;
    margin: 20px 20px 20px 20px;
}

.fa-plus-square-o {
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}

.mdb-text {
    color: white;
    font-size: 20px;
    margin: 0px 20px 25px 20px;
}

.mdb-text--big {
    font-size: 30px;
    color: grey;
}

.mdb-size {
    display: inline-block;
}

.mdb-sidebar__support {
    margin-left: 5px;
}

.mdb-logo {
    margin-left: 13px;
    display: inline;
}

.mdb-sidebar__movies {}

.mdb-hide {
    display: inline-block;
}

.mdb-sidebar-icon {}


/* .mdb-sidebar__btn {
    opacity: 1;
} */

.mdb-logo-container {
    margin: 0px;
}